/* Google Web Font */
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500&display=swap');

* {
  box-sizing: border-box;
}


body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

h1 {
  margin: 0;
  font-size: 3em;
}

.container {
  height: 100vh;
  text-align: center;
}

header,
footer {
  background-color: teal;
  height: 100px;
  color: #fff;
  line-height: 100px;
}

section {
  background-color: gold;
  height: calc(100vh - 200px);
  line-height: calc(100vh - 200px); 
}
